header {
  margin-top: 5rem;
}

.page-title {
  display: flex;
  justify-content: center;
  font-family: 'JetBrains Mono', monospace;
  font-weight: 800;
}

.page-description {
  display: flex;
  justify-content: center;
  font-family: 'JetBrains Mono', monospace;
  font-weight: 500;
}

.catgegory-text {
  display: flex;
  justify-content: center;
  margin-top: 7rem;
  font-family: 'JetBrains Mono', monospace;
  font-weight: 700;
}

.game-container{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 30px;
  font-size: 24px;
}

.general-knowledge, .science-nature-game, .art-game, .animals-game{
  text-decoration: none;
  color: black;
  border: 10px solid #D5F2E3;
  width: 25%;
  padding: 20px;
  text-align: center;
  font-family: 'JetBrains Mono', monospace;
  font-weight: 500;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

/* .general-knowledge-game-page {
  text-decoration: none;
  color: black;
  border: 10px solid #D5F2E3;
  width: 15%;
  padding: 20px;
  text-align: center;
  font-family: 'JetBrains Mono', monospace;
  font-weight: 500;
} */


.general-knowledge-game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 70px;
}
