#page-container {
  min-height: 100vh;
  clear: both;
  position: relative;
}

.nav {
  background: #d5f2e3;
  font-size: large;
  font-family: "JetBrains Mono", monospace;
}

header {
  margin-top: 4rem;
}

.page-title {
  display: flex;
  justify-content: center;
  font-family: "JetBrains Mono", monospace;
  font-weight: 800;
  letter-spacing: 10px;
  font-size: 52px;
}

.page-description {
  display: flex;
  justify-content: center;
  font-family: "JetBrains Mono", monospace;
  font-weight: 500;
  font-size: 24px;
}

.page-intro-container {
  display: flex;
  justify-content: center;
}

.page-intro-paragraph {
  font-family: "JetBrains Mono", monospace;
  font-weight: 400;
  border: 4px dotted #d5f2e3;
  width: 60%;
  margin-top: 50px;
  padding: 20px;
}

.category-text-container {
  display: flex;
  justify-content: center;
}

.catgegory-text {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-family: "JetBrains Mono", monospace;
  font-weight: 700;
  font-size: 24px;
  border-bottom: solid #d5f2e3;
  width: 25%;
}

.game-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 30px;
  font-size: 24px;
}

.general-knowledge,
.science-nature-game,
.art-game,
.animals-game {
  text-decoration: none;
  color: black;
  border: 10px solid #d5f2e3;
  width: 25%;
  padding: 20px;
  text-align: center;
  font-family: "JetBrains Mono", monospace;
  font-weight: 500;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.all-games-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.card {
  margin-bottom: 5rem;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-text,
.btn {
  font-family: "JetBrains Mono", monospace;
}

.btn {
  margin-top: 20px;
}

#question_container {
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 30px;
}

.question-card {
  margin: 10px 100px 32px 30px;
  border: 2px solid #d5f2e3;
  border-width: 20%;
  border-radius: 7px;
  font-family: "JetBrains Mono", monospace;
}

.card-body{
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

#submit_button {
  margin-bottom: 80px;
  margin-left: 60px;
}

#footer {
  display: flex;
  justify-content: space-around;
  background: #d5f2e3;
  width: 100%;
  padding: 10px 10px 10px;
  bottom: 0;
  position: absolute;
  color: #0d6efd;
  text-align: center;
}


#gifBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.alert-fixed {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 9999;
  border-radius: 0px;
}
